<nav class="navbar navbar-expand-xl fixed-top" style="background-color: transparent !important;">
    <div class="container">
        <img claass="w-100" src="../../assets/img/SEAPlag.png" style="width: 220px; height: 63px; border-radius: 5px;"
            alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 45px;">
            <ul class="navbar-nav">

            </ul>
            <ul class="right navbar-nav ms-auto">
                <li style="margin-top: 3px; margin-right: 10px;">
                    <div
                        style="width: 175px; background-color: rgba(255, 255, 255, 0); border-radius: 5px; padding: 2px;">
                        <ngx-slider [(value)]="minValue" [options]="options"></ngx-slider>
                    </div>
                </li>
                <li class="nav-card-item-right" style="margin-top: 14px; margin-left: 10px;">
                    <button style="width: 60px; height: 50px;" (click)="set_display_output()" type="button"
                        class="btn btn-info px-3 text-white"><i class="fas fa-check"
                            aria-hidden="true"></i><br></button>
                </li>
                <li class="nav-card-item-right" style="margin-top: 14px; margin-left: 10px;">
                    <button style="width: 60px; height: 50px;" (click)="reset_display_output()" type="button"
                        class="btn btn-warning px-3 text-white"><i class="fa fa-refresh"
                            aria-hidden="true"></i><br></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="graph-box" class="container-fluid" style="padding-left: 0px;">
    <div id="graph"></div>
</div>

<nav class="navbar navbar-expand-xl fixed-bottom" style="background-color: transparent !important;">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-card-item-right" style="margin-top: 8px;">
                    <button (click)="change_to_2d()" id="2d" style="width: 60px; height: 50px;" type="button"
                        class="btn px-3 text-white"
                        [ngClass]="{'active': is2D, 'btn-primary': is2D, 'btn-secondary': is3D}">2D</button>
                </li>
                <div style="width: 12px;"></div>
                <li class="nav-card-item-right" style="margin-top: 8px;">
                    <button (click)="change_to_3d()" id="3d" style="width: 60px; height: 50px;" type="button"
                        class="btn px-3 text-white"
                        [ngClass]="{'active': is3D, 'btn-primary': is3D, 'btn-secondary': is2D}">3D
                    </button>
                </li>
            </ul>
            <div id="myModal" class="modal">
                <div class="modal-content" style="margin-bottom: 90px;">

                    <!-- Modal Header -->
                    <div class="modal-header" id="modal-header">
                        <h4 class="modal-title" id="modal-title">
                            <img claass="w-100" src="../../assets/img/SEAPlag.png"
                                style="width: 140px; height: 43px; border-radius: 5px;" alt="">
                        </h4>

                        <span type="button" class="close" data-dismiss="modal">
                            &times;
                        </span>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="topnav">
                            <!-- <h3 style="width: 50%;">{{title}}</h3> -->
                            <!-- <div style="float: right;"> -->
                            <ul class="navbar-nav"
                                style="float: right; list-style-type: none;margin-top: 0px; padding: 0px;">
                                <li class="nav-card-item bg-white " style="padding: 0px;">
                                    <a id="th"
                                        style="cursor: pointer; text-align: right;margin-right: 0px; padding: 15px;"
                                        class="nav-link" [ngClass]="{'active': isTH}" (click)="switch_to_th()">
                                        <span><img src="../../assets/img/language/thailand.png" style="width: 21px;"
                                                alt=""></span>
                                        &nbsp;&nbsp;{{navbar_language_1}}
                                    </a>
                                </li>
                                <li class="nav-card-item bg-white" style="padding: 0px;">
                                    <a id="en"
                                        style="cursor: pointer;  text-align: right; margin-right: 0px; padding: 15px;"
                                        class="nav-link" [ngClass]="{'active': isEN}" (click)="switch_to_eng()">
                                        <span><img src="../../assets/img/language/united-kingdom.png"
                                                style="width: 21px;" alt=""></span>
                                        &nbsp;&nbsp;{{navbar_language_2}}
                                    </a>
                                </li>
                            </ul>
                            <h3 style="width: 55%; padding-left: 175px; padding-top: 10px; font-size: 40px;"><span class="text-info">{{title_1}}</span><span>{{title_2}}</span><span class="text-danger">{{title_3}}</span></h3>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 100px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/scorp.png" alt="">
                                        <br> <b style="text-align: center;"> {{btn01}} </b>
                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM01}}
                                </div>
                                <!-- {{UM01}} -->
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 50px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/confirm.png" alt="">
                                        <br> <b> {{btn02}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM02}}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 50px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/reset.png" alt="">
                                        <br> <b> {{btn03}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM03}}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 50px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/Export.PNG" alt="">
                                        <br> <b> {{btn04}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM04}}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 50px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/2D.PNG" alt="">
                                        <br><b> {{btn05}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM05}}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 50px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/3D.PNG" alt="">
                                        <br> <b> {{btn06}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM06}}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 50px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/node.png" alt="">
                                        <br> <b> {{btn07}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM07}}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 100px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/line.PNG" alt="">
                                        <br> <b> {{btn08}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM08}}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
                                <div class="col-2" style="text-align: center;">
                                    <img style="width: 100px; padding-top: 10px; padding-right: 0px;"
                                        src="../../assets/img/icon/grap.png" alt="">
                                        <br> <b> {{btn09}} </b>

                                </div>
                                <div class="col-10" style="margin: auto;">
                                    {{UM09}}
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <!-- ref. = test -->
                    </div>


                    <!-- <span class="close">&times;</span> -->
                    <!-- <p>{{test}}</p> -->




                    <!-- <ul class="navbar-nav" style="list-style-type: none;">
                        <li class="nav-card-item bg-white">
                            <a id="th" style="cursor: pointer;" class="nav-link" [ngClass]="{'active': isTH}" (click)="switch_to_th()">
                                <span><img src="../../assets/img/language/thailand.png" style="width: 20px;" alt=""></span>
                                &nbsp;&nbsp;{{navbar_language_1}}
                            </a>
                        </li>
                        <li class="nav-card-item bg-white">
                            <a id="en" style="cursor: pointer;" class="nav-link" [ngClass]="{'active': isEN}" (click)="switch_to_eng()">
                                <span><img src="../../assets/img/language/united-kingdom.png" style="width: 20px;" alt=""></span>
                                &nbsp;&nbsp;{{navbar_language_2}}
                            </a>
                        </li>
                    </ul> -->
                    <!-- <span class="close">&times;</span>
                  <p>Some text in the Modal..</p> -->
                </div>
            </div>
            <ul class="right navbar-nav ms-auto">
                <li class="nav-card-item-right" style="margin-top: 8px; margin-left: 10px;">
                    <button id="export" style="width: 60px; height: 50px;" type="button"
                        class="btn px-3 text-white"
                        [ngClass]="{'btn-danger': is2D, 'btn-secondary': is3D, 'disabled': is3D}"
                        ><i class="fas fa-download" style="font-size: 25px;"
                        aria-hidden="true"></i><br></button>
                </li>
                <li class="nav-card-item-right" style="margin-top: 8px; margin-left: 10px;">
                    <button style="width: 60px; height: 50px;" id="hint-btn" type="button"
                        class="btn btn-secondary px-3 text-white"><i class="fas fa-question-circle text"
                            style="font-size: 25px; padding-top: 3px;" aria-hidden="true"></i><br></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ngx-spinner type="node_modules/ngx-spinner/animations/ball-atom" style="text-align: center;">
    <div class="loadingio-spinner-interwind-np28c1ms6cg">
        <div class="ldio-wwr28bcm9qb">
            <div><div><div><div></div></div></div><div><div><div></div></div></div></div>
            <!-- <p style="text-align: center; font-size:x-large; color: #aef1ff"> Loading... </p> -->
        </div>
    </div>
    <div class="animation_class">
        <span class="animation_text">L</span>
        <span class="animation_text">O</span>
        <span class="animation_text">A</span>
        <span class="animation_text">D</span>
        <span class="animation_text">I</span>
        <span class="animation_text">N</span>
        <span class="animation_text">G</span>
        <span class="animation_text">.</span>
        <span class="animation_text">.</span>
        <span class="animation_text">.</span>
    </div>
</ngx-spinner>