<nav class="navbar navbar-expand-xl fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#top"><img claass="w-100" src="../../assets/img/SEAPlag.png" style="width: 220px; height: 63px;" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 45px;">
            <ul class="navbar-nav" >
                <li class="nav-card-item">
                    <a class="nav-link" href="#objective">Objectives</a>
                </li>
                <li class="nav-card-item">
                    <a class="nav-link" href="#howto">How to use</a>
                </li>
                <li class="nav-card-item">
                    <a class="nav-link" href="#credit">Credits</a>
                </li>
            </ul>
            <ul class="right navbar-nav ms-auto">
                <!-- <li class="nav-card-item-right">
                    <a class="nav-link" href="#">Sign in</a>
                </li> -->
                <li class="nav-card-item-right create-account">
                    <a class="nav-link" target="_blank" href="https://github.com/jplag/JPlag">Implemented by <span class="text-info">JPlag</span></a>
                </li>       
            </ul>
        </div>
    </div>
</nav>

<div class="container bg-white" style="width: 1110px; border-radius: 25px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; margin-top: -40px;">
    <main>
        <div class="container" >
            <!-- Intro -->
            <br><br>
            <div class="intro text-center">
                <h1>Detect plagiarism of source code with <br><span class="blue-frame">SEA</span><span class="text-danger"> Plag.</span></h1>
            <p class="front-page">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br>
                the industry's standard dummy text ever since the 1500s.</p>
                <a href="" class="main-btn">How we work</a>
                <a href="" class="blue-btn">Portfolio</a>
            <img src="../../assets/img/intro.png" alt="">
            </div>

            <!-- Clients -->
            <div class="clients text-center">
            <p class="text-muted pb-4">Supported Languages.</p>
            <div class="client-logo">
                <div><img src="../../assets/img/icon/go-sm-logo.svg" alt=""></div>
                <div><img src="../../assets/img/icon/social-road-logo.svg" alt=""></div>
                <div><img src="../../assets/img/icon/firmbee-logo.svg" alt=""></div>
                <div><img src="../../assets/img/icon/create-paper.svg" alt=""></div>
                <div><img src="../../assets/img/icon/point-design-logo.svg" alt=""></div>
            </div>
            </div>

            <!-- Category -->
            <div class="category-wrapper">
            <div class="left">
                <img src="../../assets/img/hand.png" alt="">
            </div>

            <div class="right" id="objective" style="padding-top: 115px;">
                <h1>Our <span class="blue-frame">objectives.</span></h1>
                <!-- <a href="">All category <img style="width: 20px; margin-left: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a> -->
                <div class="category">
                <div class="category-item">
                    <img class="category-icon" src="../../assets/img/icon/analytics.svg" alt="">
                    <h3 class="category-title">Serve academia</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing </p>
                    <!-- <a href=""><img style="width: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a> -->
                </div>
                <div class="category-item">
                    <img class="category-icon" src="../../assets/img/icon/marketing.svg" alt="">
                    <h3 class="category-title">Prevent copy behavior</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing </p>
                    <!-- <a href=""><img style="width: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a> -->
                </div>
                <div class="category-item">
                    <img class="category-icon" src="../../assets/img/icon/email.svg" alt="">
                    <h3 class="category-title">Detection efficiency</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing </p>
                    <!-- <a href=""><img style="width: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a> -->
                </div>
                <div class="category-item">
                    <img class="category-icon" src="../../assets/img/icon/analytics.svg" alt="">
                    <h3 class="category-title">Improve coding skills</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing </p>
                    <!-- <a href=""><img style="width: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a> -->
                </div>
                </div>
            </div>
            </div>

            <!-- Problems -->
            <div class="problems" id="howto" style="padding-top: 170px;">
            <h1>How to use <span class="blue-frame">SEA</span> <span class="text-danger">Plag.</span></h1>
            <div id="variations" class="variations">
                <div class="first-variation">
                <div class="img">
                    <img src="../../assets/img/woomen.png" alt="">
                </div>
                <div class="text">
                    <h1>1. Import file</h1>
                    <p class="front-page">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    <!-- <a href="" class="main-btn">Read More</a> -->
                </div>
                </div>
                <div class="second-variation">
                <div class="text" style="padding-left: 50px;">
                    <h1>2. Show result</h1>
                    <p class="front-page">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    <!-- <a href="" class="main-btn">Read More</a> -->
                </div>
                <div class="img">
                    <img src="../../assets/img/man-calendar.png" alt="">
                </div>
                </div>
                <br><br>
                <div class="first-variation">
                <div class="img">
                    <img src="../../assets/img/woomen.png" alt="">
                </div>
                <div class="text">
                    <h1>3. View details</h1>
                    <p class="front-page">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    <!-- <a href="" class="main-btn">Read More</a> -->
                </div>
                </div>
            </div>
            </div>

            <!-- Latest Articles -->
            <div class="latest-articles text-center" id="credit" style="padding-top: 112px;">
                <h1><span class="blue-frame">Credits</span></h1>
                <!-- <a href="">All category <img style="width: 20px; margin-left: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a> -->
                <div class="latest-articles-wrapper">
                    <div class="article">
                        <img src="../../assets/img/post-1.png" alt="">
                        <p class="article-meta"><span class="data text-muted">August 24, 2021</span></p>
                        <h4 class="title">Front-End Developer</h4>
                        <ul>
                            <li>Faculty of Informatics</li>
                            <li>Software Engineering #9</li>
                            <li>Burapha University</li>
                        </ul>
                    </div>
                    <div class="article">
                        <img src="../../assets/img/post-2.png" alt="">
                        <p class="article-meta"><span class="data text-muted">Mr. Sirawit Thitisoontornlak</span></p>
                        <h4 class="title">Back-End Developer</h4>
                        <ul>
                            <li>Faculty of Informatics</li>
                            <li>Software Engineering #9</li>
                            <li>Burapha University</li>
                        </ul>
                    </div>
                    <div class="article">
                        <img src="../../assets/img/post-3.png" alt="">
                        <p class="article-meta"><span class="data text-muted">April 18, 2021</span></p>
                        <h4 class="title">Advisor</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
        
    <!-- Footer -->
    <footer>
        <div class="container text-center text-md-start">
            <div class="footer-wrap">
                <div class="about">
                <img src="../../assets/img/SEAPlag.png" alt="">
                <p class="text-muted py-4">
                    Start working with <span class="text-info">JPlag</span> which can detect plagiarism of multiple sets of source code files and show JPlag result Force Directed Graph using <span class="text-info">Chart.js</span> that an easy way to process the copy of source code .
                </p>
                <!-- <div class="social-media">
                    <a href="" class="me-2 text-reset"><img src="img/icon/instagram-icon.svg" alt=""></a>
                    <a href="" class="me-2 text-reset"><img src="img/icon/facebook-icon.svg" alt=""></a>
                    <a href="" class="me-2 text-reset"><img src="img/icon/twitter-icon.svg" alt=""></a>
                    <a href="" class="me-2 text-reset"><img src="img/icon/linkedin-icon.svg" alt=""></a>
                </div> -->
                </div>

                <div class="company">
                <p class="fw-bold">Languages</p>
                <ul>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                    <li><p>JavaScript</p></li>
                    <li><p>PHP</p></li>
                    <li><p>Java</p></li>
                </ul>
                </div>
                
                <div class="useful-links">
                <p class="fw-bold">Tools</p>
                <ul>
                    <li><p>Visual Studio Code</p></li>
                    <li><p>Google Chrome</p></li>
                    <li><p>Docker</p></li>
                </ul>
                </div>

                <div class="useful-links">
                <p class="fw-bold">Research articles</p>
                <ul>
                    <li><a target="_blank" href="https://www.researchgate.net/publication/349532079_An_intelligent_decision_support_system_for_software_plagiarism_detection_in_academia">An intelligent decision support system for <br> software plagiarism detection in academia</a></li>

                </ul>
            </div>
        </div>
        
            <div class="copyright">
                <p class="text-center">Copyright &copy; SEAPlag <script>document.write(new Date().getFullYear())</script></p>
                <!--
                This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
                You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
                --> 
                <br>
            </div>
        </div>
    </footer>
</div>
<br>