<nav class="navbar navbar-expand-xl fixed-top">
    <div class="container">
        <a class="navbar-brand" id="top-btn" href="#top"><img claass="w-100" src="../../assets/img/SEAPlag.png"
                style="width: 220px; height: 63px;" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 45px;">
            <ul class="navbar-nav">
                <li class="nav-card-item">
                    <a class="nav-link" id="obj-btn" href="#objective">{{navbar_menu_1}}</a>
                </li>
                <li class="nav-card-item">
                    <a class="nav-link" id="howto-btn" href="#howto">{{navbar_menu_2}}</a>
                </li>
                <li class="nav-card-item">
                    <a class="nav-link" id="credit-btn" href="#credit">{{navbar_menu_3}}</a>
                </li>
            </ul>
            <ul class="right navbar-nav ms-auto">
                <li class="nav-card-item-right">
                    <a id="th" style="cursor: pointer;" class="nav-link active" (click)="switch_to_th()">
                        <span><img src="../../assets/img/language/thailand.png" style="width: 20px;" alt=""></span>
                        &nbsp;&nbsp;{{navbar_language_1}}
                    </a>
                </li>
                <li class="nav-card-item-right">
                    <a id="en" style="cursor: pointer;" class="nav-link" (click)="switch_to_eng()">
                        <span><img src="../../assets/img/language/united-kingdom.png" style="width: 20px;"
                                alt=""></span>
                        &nbsp;&nbsp;{{navbar_language_2}}
                    </a>
                </li>
                <li class="nav-card-item-right create-account">
                    <a class="nav-link" target="_blank" href="https://github.com/jplag/JPlag">{{link_to_jplag}}<span
                            class="text-info">JPlag</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content-box container bg-white" style="width: 1165px; border-radius: 10px; margin-top: -40px;">
    <main>
        <div class="container">
            <!-- Intro -->
            <br><br>
            <div class="intro text-center">
                <h1>{{welcome_word}}<br>
                    <span class="text-info" style="padding-top: 30px; font-size: 100px;">SEA</span>
                    <span class="text-danger" style="padding-top: 30px; font-size: 100px;"> Plag.</span>
                </h1>
                <div class="front-page">
                    <div class="container center" style="width: 95%;">
                        <div class="container" >
                            <ngx-file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
                                (onFileLeave)="fileLeave($event)">
                                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                    <div >
                                        <strong style="font-size: 20px;">{{file_upload}}</strong>
                                        &nbsp;
                                        &nbsp;
                                        {{Or}}
                                        &nbsp;
                                        &nbsp;
                                        <button type="button" class="btn btn-primary" style="margin-top: -5px;font-size: 18px;background-color: red; color: white;"
                                            (click)="openFileSelector()">{{choose_file}}</button>
                                    </div>
                                </ng-template>
                            </ngx-file-drop>
                        </div>
                        <br>
                        <div class="container" style="font-size: 19px;">
                            <span class="text-warning">{{suggestion_1}}</span>
                            &nbsp;
                            <span class="text-secondary">{{suggestion_2}}</span>
                        </div>
                        <!-- <div class="upload-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody class="upload-name-style">
                                    <tr *ngFor="let item of files; let i=index">
                                        <td><strong>{{ item.relativePath }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                    </div>
                </div>
                <img src="../../assets/img/intro.png" alt="">
            </div>

            <!-- Clients -->
            <div class="clients text-center">
                <p class="text-muted pb-4"><span class="blue-frame" style="font-size: 20px;">{{support_language}}</span>
                </p>
                <div class="client-logo">
                    <div><img src="../../assets/img/icon/Color_java.png"
                            style="margin-right: 40px; margin-left: 40px; padding-top: 0px; width: 110px; height: auto;"
                            alt=""></div>
                    <div><img src="../../assets/img/icon/Color_c++.png"
                            style="margin-right: 40px; margin-left: 40px; padding-top: 0px; width: 70px; height: auto;"
                            alt=""></div>
                    <div><img src="../../assets/img/icon/Color_cshap.png"
                            style="margin-right: 40px; margin-left: 40px; padding-top: 0px; width: 65px; height: auto;"
                            alt=""></div>
                    <div><img src="../../assets/img/icon/Color_python.png"
                            style="margin-right: 40px; margin-left: 40px; padding-top: 5px; width: auto; height: auto;"
                            alt=""></div>
                    <div><img src="../../assets/img/icon/Color_go.png"
                            style="margin-right: 40px; margin-left: 40px; padding-top: 10px; width: 120px; height: auto;"
                            alt=""></div>

                    <div><img src="../../assets/img/icon/Color_kotlin.png"
                            style="padding-top: 10px; width: 150px; height: 50px;" alt=""></div>
                    <div><img src="../../assets/img/icon/Color_swift.png"
                            style="padding-top: 0px; width: 150px; height: auto;" alt=""></div>
                    <div><img src="../../assets/img/icon/scala_color.png"
                            style="padding-top: 5px; width: 150px; height: auto;" alt=""></div>
                    <div><img src="../../assets/img/icon/Color_r.png"
                            style="padding-top: 0px; width: 80px; height: auto;" alt=""></div>
                </div>
            </div>

            <!-- Category -->
            <div class="category-wrapper">
                <div class="left" style="padding-top: 80px;">
                    <img src="../../assets/img/hand.png" alt="">
                </div>

                <div class="right" id="objective" style="padding-top: 115px;">
                    <h1>{{objectives_word_1}}<span class="blue-frame">{{objectives_word_2}}</span></h1>
                    <div class="category">
                        <div class="category-item obj-box bg-white">
                            <img class="category-icon" src="../../assets/img/checked.png" alt=""
                                style="padding-top: 15px;">
                            <h3 class="category-title" style="text-align: center;">{{objective_1}}</h3>
                        </div>
                        <div class="category-item obj-box bg-white">
                            <img class="category-icon" src="../../assets/img/checked.png" alt=""
                                style="padding-top: 15px;">
                            <h3 class="category-title" style="text-align: center;">{{objective_2}}</h3>
                        </div>
                        <div class="category-item obj-box bg-white">
                            <img class="category-icon" src="../../assets/img/checked.png" alt=""
                                style="padding-top: 15px;">
                            <h3 class="category-title" style="text-align: center;">{{objective_3}}</h3>
                        </div>
                        <div class="category-item obj-box bg-white">
                            <img class="category-icon" src="../../assets/img/checked.png" alt=""
                                style="padding-top: 15px;">
                            <h3 class="category-title" style="text-align: center;">{{objective_4}}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Problems -->
            <div class="problems" id="howto" style="padding-top: 120px;">
                <!-- <h1>Feature Of <span class="blue-frame">SEA</span> <span class="text-danger">Plag.</span></h1> -->
                <h1>{{how_to_1}}<span class="blue-frame">{{how_to_2}}</span> <span
                        class="text-danger">{{how_to_3}}</span></h1>
                <div id="variations" class="variations">
                    <div class="first-variation">
                        <div class="img">
                            <img src="../../assets/img/importp1.png" alt="">
                        </div>
                        <div class="text">
                            <h1 class="text-info">1. {{how_to_step1}}</h1>
                            <p class="front-page" style="font-size: 19px;">{{how_to_step1_detail}}</p>
                            <!-- <a href="" class="main-btn">Read More</a> -->
                        </div>
                    </div>
                    <div class="second-variation">
                        <div class="text" style="padding-left: 50px;">
                            <h1 class="text-info">2. {{how_to_step2}}</h1>
                            <p class="front-page" style="font-size: 19px;">{{how_to_step2_detail}}</p>
                            <!-- <a href="" class="main-btn">Read More</a> -->
                        </div>
                        <div class="img">
                            <img src="../../assets/img/graphp2.png" alt="">
                        </div>
                    </div>
                    <br><br>
                    <div class="first-variation">
                        <div class="img">
                            <img src="../../assets/img/Detailp3.png" alt="">
                        </div>
                        <div class="text">
                            <h1 class="text-info">3. {{how_to_step3}}</h1>
                            <p class="front-page" style="font-size: 19px;">{{how_to_step3_detail}}</p>
                            <!-- <a href="" class="main-btn">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Latest Articles -->
            <div class="latest-articles text-center" id="credit" style="padding-top: 115px;">
                <h1><span class="blue-frame">{{credit_word}}</span></h1>
                <!-- <a href="">All category <img style="width: 20px; margin-left: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a> -->
                <div class="latest-articles-wrapper">
                    <div class="article">
                        <img src="../../assets/img/post-1.png" alt="">
                        <p class="article-meta"><span class="data text-muted"><b>{{front_end_dev_name}}</b>
                                <br>{{mail}}: {{front_end_mail}}</span></p>
                        <h4 class="title">{{front_name}}</h4>
                        <ul>
                            <li>{{major}}</li>
                            <li>{{fac}}</li>
                            <li>{{university}}</li>
                        </ul>
                    </div>
                    <div class="article">
                        <img src="../../assets/img/post-2.png" alt="">
                        <p class="article-meta"><span class="data text-muted"><b>{{back_end_dev_name}}</b> <br>{{mail}}:
                                {{back_end_mail}}</span></p>
                        <h4 class="title">{{back_name}}</h4>
                        <ul>
                            <li>{{major}}</li>
                            <li>{{fac}}</li>
                            <li>{{university}}</li>
                        </ul>
                    </div>
                    <div class="article">
                        <img src="../../assets/img/post-3.png" alt="">
                        <p class="article-meta"><span class="data text-muted"><b>{{advisor_name}}</b> <br>{{mail}}:
                                {{advisor_mail}}</span></p>
                        <h4 class="title">{{advisor}}</h4>
                        <ul>
                            <li>{{adv_major}}</li>
                            <li>{{fac}}</li>
                            <li>{{university}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container text-center text-md-start">
            <div class="footer-wrap">
                <div class="about">
                    <img src="../../assets/img/SEAPlag.png" alt="">
                    <p class="text-muted py-4">
                        {{ref1}} <span class="text-info"> JPlag </span>{{ref2}}<span class="text-info"> Chart.js
                        </span>{{ref3}}
                    </p>
                    <!-- <div class="social-media">
                    <a href="" class="me-2 text-reset"><img src="img/icon/instagram-icon.svg" alt=""></a>
                    <a href="" class="me-2 text-reset"><img src="img/icon/facebook-icon.svg" alt=""></a>
                    <a href="" class="me-2 text-reset"><img src="img/icon/twitter-icon.svg" alt=""></a>
                    <a href="" class="me-2 text-reset"><img src="img/icon/linkedin-icon.svg" alt=""></a>
                </div> -->
                </div>

                <div class="company">
                    <p class="fw-bold">{{language}}</p>
                    <ul>
                        <li>
                            <p>HTML</p>
                        </li>
                        <li>
                            <p>CSS</p>
                        </li>
                        <li>
                            <p>JavaScript</p>
                        </li>
                        <li>
                            <p>PHP</p>
                        </li>
                        <li>
                            <p>Java</p>
                        </li>
                    </ul>
                </div>

                <div class="useful-links">
                    <p class="fw-bold">{{tool}}</p>
                    <ul>
                        <li>
                            <p>Visual Studio Code</p>
                        </li>
                        <li>
                            <p>Google Chrome</p>
                        </li>
                        <li>
                            <p>GitLab</p>
                        </li>
                    </ul>
                </div>

                <div class="useful-links">
                    <p class="fw-bold">{{article}}</p>
                    <ul>
                        <li><a target="_blank"
                                href="https://www.researchgate.net/publication/349532079_An_intelligent_decision_support_system_for_software_plagiarism_detection_in_academia">An
                                intelligent decision support system for <br> software plagiarism detection in
                                academia</a></li>

                    </ul>
                </div>
            </div>

            <div class="copyright">
                <p class="text-center">{{copyright}} &copy; SEAPlag {{current_year}}</p>
                <!--
                This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
                You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
                -->
                <br>
            </div>
        </div>
    </footer>
</div>
<br>

<ngx-spinner type="node_modules/ngx-spinner/animations/ball-atom" style="text-align: center;">
    <div class="loadingio-spinner-interwind-np28c1ms6cg">
        <div class="ldio-wwr28bcm9qb">
            <div><div><div><div></div></div></div><div><div><div></div></div></div></div>
            <!-- <p style="text-align: center; font-size:x-large; color: #aef1ff"> Loading... </p> -->
        </div>
    </div>
    <div class="animation_class">
        <span class="animation_text">L</span>
        <span class="animation_text">O</span>
        <span class="animation_text">A</span>
        <span class="animation_text">D</span>
        <span class="animation_text">I</span>
        <span class="animation_text">N</span>
        <span class="animation_text">G</span>
        <span class="animation_text">.</span>
        <span class="animation_text">.</span>
        <span class="animation_text">.</span>
    </div>
</ngx-spinner>