<nav class="navbar navbar-expand-xl fixed-top">
  <div class="container">
    <img claass="w-100" src="../../assets/img/SEAPlag.png" style="width: 220px; height: 63px;" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 45px;">
      <ul class="navbar-nav">
        <!-- <li class="nav-card-item">
                  <a class="nav-link" href="#top">Top</a>
              </li> -->
        <!-- <li class="nav-card-item">
                  <a class="nav-link" href="#howto">How to use</a>
              </li>
              <li class="nav-card-item">
                  <a class="nav-link" href="#credit">Credits</a>
              </li> -->
      </ul>
      <ul class="right navbar-nav ms-auto">
        <li class="nav-card-item-right">
          <a id="th" style="cursor: pointer;" class="nav-link active" [ngClass]="{'active': isTH}"
            (click)="switch_to_th()">
            <span><img src="../../assets/img/language/thailand.png" style="width: 20px;" alt=""></span>
            &nbsp;&nbsp;{{navbar_language_1}}
          </a>
        </li>
        <li class="nav-card-item-right">
          <a id="en" style="cursor: pointer;" class="nav-link" [ngClass]="{'active': isEN}" (click)="switch_to_eng()">
            <span><img src="../../assets/img/language/united-kingdom.png" style="width: 20px;" alt=""></span>
            &nbsp;&nbsp;{{navbar_language_2}}
          </a>
        </li>
        <li class="nav-card-item-right create-account">
          <a class="nav-link" target="_blank" href="https://github.com/jplag/JPlag">{{link_to_jplag}} <span
              class="text-info">JPlag</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="content-box container-fluid bg-white mb-3" style="border-radius: 10px; margin-top: -10px;"> -->

<div class="content-box container-fluid bg-white" style="border-radius: 25px; margin-top: -12px;">
  <div class="container-fluid main">
    
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10">
        <h2 class="text-center" style="padding-top: 50px; font-size: 35px;">{{code_sim}}: <span
          class="blue-frame">{{similarity}} &#65285;</span></h2><br>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
      </div>
    </div>

      <div class="row">

      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 text-center" style="">
          <div style="font-size: 20px;"><b>{{file_title}} : {{source}} </b></div>
          <div style="font-size: 20px; margin-bottom: 10px;"><b> {{file_name_source}} </b></div>
  
          <ngx-codemirror #codeMirror [options]="codeMirrorOptions" [(ngModel)]="file_content_source"></ngx-codemirror>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6  text-center" style="">
          <div style="font-size: 20px;"><b>{{file_title}} : {{target}} </b></div>
          <div style="font-size: 20px; margin-bottom: 10px;"><b> {{file_name_target}} </b></div>
  
          <ngx-codemirror #codeMirror [options]="codeMirrorOptions" [(ngModel)]="file_content_target"></ngx-codemirror>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
          <!-- <span>{{code_select}}</span> -->
          <h4 class="text-center" style="padding-top: 70px;"><span class="blue-frame">{{code_select}}</span></h4>
  
          <div style="height: 20px;"></div>
          <div class="bg-white  rounded">
            <!-- <div *ngFor="let item of file | keyvalue"> -->
  
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 45%">{{source}}</th>
                  <th style="width: 45%">{{target}}</th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <!-- Key: <b>{{item.key}}</b> and Value: <b>{{item.value.file1}}</b><b>{{item.value.file2}}</b> -->
                <!-- <a (click)="get_file(item)" style="cursor: pointer;"> -->
                <!-- <div *ngFor="let item of file | keyvalue"> -->
  
                  <tr (click)="get_file(item)" style="cursor: pointer;" *ngFor="let item of file | keyvalue">
                    <td style="word-break: break-all;">
                      {{item.value.file1 }}
                    </td >
                    <td style="word-break: break-all;">
                      {{item.value.file2}}
                    </td>
                    <td>
                      <i class='fas fa-arrow-right'></i>
                    </td>
                  </tr>
                 
                <!-- </div> -->
                <!-- </a> -->
              </tbody>
            </table>
            <!-- </div> -->
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <br><br><br>
  <!-- Footer -->
  <footer>
    <div class="container text-center text-md-start">
      <div class="footer-wrap">
        <div class="about">
          <img src="../../assets/../../assets/img/SEAPlag.png" alt="">
          <p class="text-muted py-4">
            {{ref1}} <span class="text-info"> JPlag </span>{{ref2}}<span class="text-info"> Chart.js </span>{{ref3}}
          </p>
          <!-- <div class="social-media">
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/instagram-icon.svg" alt=""></a>
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/facebook-icon.svg" alt=""></a>
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/twitter-icon.svg" alt=""></a>
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/linkedin-icon.svg" alt=""></a>
          </div> -->
        </div>

        <div class="company">
          <p class="fw-bold">{{language}}</p>
          <ul>
            <li>
              <p>HTML</p>
            </li>
            <li>
              <p>CSS</p>
            </li>
            <li>
              <p>JavaScript</p>
            </li>
            <li>
              <p>PHP</p>
            </li>
            <li>
              <p>Java</p>
            </li>
          </ul>
        </div>

        <div class="useful-links">
          <p class="fw-bold">{{tool}}</p>
          <ul>
            <li>
              <p>Visual Studio Code</p>
            </li>
            <li>
              <p>Google Chrome</p>
            </li>
            <li>
              <p>GitLab</p>
            </li>
          </ul>
        </div>

        <div class="useful-links">
          <p class="fw-bold">{{article}}</p>
          <ul>
            <li><a target="_blank"
                href="https://www.researchgate.net/publication/349532079_An_intelligent_decision_support_system_for_software_plagiarism_detection_in_academia">An
                intelligent decision support system for <br> software plagiarism detection in academia</a></li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <p class="text-center">{{copyright}} &copy; SEAPlag {{current_year}}</p>
        <!--
          This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
          You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
          -->
        <br>
      </div>
    </div>
  </footer>
</div>
<br>