<nav class="navbar navbar-expand-xl fixed-top">
  <div class="container">
      <img claass="w-100" src="../../assets/img/SEAPlag.png" style="width: 220px; height: 63px;" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 45px;">
          <ul class="navbar-nav" >
              <!-- <li class="nav-card-item">
                  <a class="nav-link" href="#top">Top</a>
              </li> -->
              <!-- <li class="nav-card-item">
                  <a class="nav-link" href="#howto">How to use</a>
              </li>
              <li class="nav-card-item">
                  <a class="nav-link" href="#credit">Credits</a>
              </li> -->
          </ul>
          <ul class="right navbar-nav ms-auto">
              <li class="nav-card-item-right">
                  <a id="th" style="cursor: pointer;" class="nav-link active" [ngClass]="{'active': isTH}" (click)="switch_to_th()">
                  <span><img src="../../assets/img/language/thailand.png" style="width: 20px;" alt=""></span>
                  &nbsp;&nbsp;{{navbar_language_1}}
                  </a>
              </li>
              <li class="nav-card-item-right">
                  <a id="en" style="cursor: pointer;" class="nav-link" [ngClass]="{'active': isEN}" (click)="switch_to_eng()">
                      <span><img src="../../assets/img/language/united-kingdom.png" style="width: 20px;" alt=""></span>
                      &nbsp;&nbsp;{{navbar_language_2}}
                  </a>
              </li>
              <li class="nav-card-item-right create-account">
                  <a class="nav-link" target="_blank" href="https://github.com/jplag/JPlag">{{link_to_jplag}} <span class="text-info">JPlag</span></a>
              </li>       
          </ul>
      </div>
  </div>
</nav>

<div class="content-box container bg-white" style="width: 1920px; border-radius: 10px; margin-top: -10px;">
<div class="container main">
  <div class="row">
    <div class="aboutus col-lg-8">
      <h2 class="text-center" style="padding-top: 50px; font-size: 35px;">{{code_sim}}: <span class="blue-frame">{{similarity}} &#65285;</span></h2>

        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla illo corrupti debitis recusandae hic, ipsa sit quas? Autem fuga nihil voluptate dolorum similique dignissimos quaerat quidem consectetur nobis aliquid quae voluptatibus ex assumenda, amet adipisci eveniet porro soluta accusamus voluptatem doloremque, nulla impedit, culpa hic. Ad nihil vero, debitis fuga at nostrum modi! Expedita ab ex, dolores, fugit quis optio laborum sint, officiis molestiae temporibus ratione totam odio explicabo beatae voluptatem neque deleniti iusto eaque?  Ad nihil vero, debitis fuga at nostrum modi </p>
        <br>
        <h3>A wide <span class="green">partner</span> network:</h3>
        <ul class="list-in-text">
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
        </ul>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit laudantium, labore inventore fugiat doloremque ab soluta at. Ex, corporis? Necessitatibus distinctio quam sed unde soluta delectus facilis, corporis iusto. Nihil modi eveniet laudantium quisquam a expedita est inventore doloremque, ad officiis odit earum alias asperiores. Nihil accusamus rerum delectus cumque ducimus illum temporibus ratione dolores quibusdam sint facere provident aperiam quis dignissimos reiciendis sed iure quidem eos quasi, nesciunt, ipsum voluptatem at debitis odio. Doloribus explicabo dignissimos nemo rerum sunt amet aspernatur distinctio, deleniti blanditiis cumque soluta officiis suscipit. Minima nesciunt dicta magnam aliquid inventore voluptates laudantium quaerat aperiam in.</p>
        <figure class="quote text-start">
          <blockquote class="blockquote">
            <p>A well-known quote, contained in a blockquote element.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure> -->
        

        <div class="team text-center mt-1">
          <!-- <h3>See <span class="green">team </span>More details.</h3> -->
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ab est repudiandae quasi hic sapiente earum velit fuga odio neque numquam eligendi qui tenetur ipsam, animi atque expedita eaque nesciunt in.Atque ut blanditiis quos excepturi perferendis a, quidem modi.</p> -->
        <button class="btn btn-primary text-white" id="switch_mode">{{switch_mode}}</button> 
        <div class="team-person">
            <div class="person">
              <span class="name text-info">Main.java</span>
              <textarea wrap="off" disabled name="" id="" cols="30" rows="10">

                public class main{
                  public static void main(String args[]){
                    int name;
                    int age;
                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")
                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")
                  }
                }
              </textarea>
            </div>
            <div class="person">
              <span class="name text-danger">Main.java</span>
              <textarea wrap="off" disabled name="" id="" cols="30" rows="10">

                public class main{
                  public static void main(String args[]){
                    int name;
                    int age;
                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")
                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")

                    System.out.print("Hello, my name is"+name+", I'm "+age+" years old.")
                  }
                }
              </textarea>
            </div>
          </div>
        </div>
    </div>
    <div class="sidebar col-lg-4">
      <!-- <div class="input-group">
        <div class="form-outline">
          <input id="search-input" type="search" id="form1" class="form-control" placeholder="search" />
        </div>
        <button id="search-button" type="button" class="btn dark">
          <i class="fas fa-search"></i>
        </button>
      </div> -->

      <div>
      <div class="sidebar-category" >
        <h4 class="text-center" style="padding-top: 91px;"><span class="blue-frame">{{code_select}}</span></h4>
        <!-- <a href="">All category <img style="width: 20px; margin-left: 20px;" src="../../assets/img/icon/arrow-right-icon.svg" alt=""></a> -->
        <div class="category">
          <div class="category-item" style="background-color: #24bbe6;">
            <!-- <img class="category-icon" src="../../assets/img/icon/analytics.svg" alt=""> -->
            <h6 class="category-title text-center text-white">{{source}}</h6>
          </div>
          <div class="category-item" style="background-color: #ec5665;">
            <!-- <img class="category-icon" src="../../assets/img/icon/marketing.svg" alt=""> -->
            <h6 class="category-title text-center text-white">{{target}}</h6>
          </div>
          <div class="category-item">
            <!-- <img class="category-icon" src="../../assets/img/icon/analytics.svg" alt=""> -->
            <h6 class="category-title">Main.java</h6>
            <a href=""><img style="width: 20px;" src="../../assets/img/icon/arrow-right-icon.svg" alt=""></a>
          </div>
          <div class="category-item">
            <!-- <img class="category-icon" src="../../assets/img/icon/marketing.svg" alt=""> -->
            <h6 class="category-title">Main.java</h6>
            <a href=""><img style="width: 20px;" src="../../assets/img/icon/arrow-right-icon.svg" alt=""></a>
          </div>
          <div class="category-item">
            <!-- <img class="category-icon" src="../../assets/img/icon/email.svg" alt=""> -->
            <h6 class="category-title">Student.java</h6>
            <a href=""><img style="width: 20px;" src="../../assets/img/icon/arrow-right-icon.svg" alt=""></a>
          </div>
          <div class="category-item">
            <!-- <img class="category-icon" src="../../assets/img/icon/analytics.svg" alt=""> -->
            <h6 class="category-title">Teacher.java</h6>
            <a href=""><img style="width: 20px;" src="../../assets/img/icon/arrow-right-icon.svg" alt=""></a>
          </div>
        </div>
      </div>
      </div>

      <div class="recent-posts my-5">
        <!-- <h4>Our latest Articles</h4>
        <a href="">All category <img style="width: 20px; margin-left: 20px;" src="../../assets/img/icon/arrow-right-icon.svg" alt=""></a> -->
      <div class="latest-articles-wrapper">
        <!-- <div class="article">
          <div class="arcticle-photo"><img src="../../assets/img/post-1.png" alt=""></div>
          <div class="article-text">
          <a href="single-post.html"><h5 class="title">Develop Marketing</h5></a>
          <p class="article-meta"><img src="../../assets/img/icon/calendar.svg" alt=""><span class="data text-muted">August 24, 2021</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
        </div>
        <div class="article">
          <div class="arcticle-photo"><img src="../../assets/img/post-2.png" alt=""></div>  
          <div class="article-text">
          <a href="single-post.html"><h5 class="title">Resources Your Blog</h5></a>
          <p class="article-meta"><img src="../../assets/img/icon/calendar.svg" alt=""><span class="data text-muted">July 13, 2021</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
        </div>
        <div class="article">
          <div class="arcticle-photo"><img src="../../assets/img/post-3.png" alt=""></div>
          <div class="article-text">
          <a href="single-post.html"><h5 class="title">Know Your Audience</h5></a>
          <p class="article-meta"><img src="../../assets/img/icon/calendar.svg" alt=""><span class="data text-muted">April 18, 2021</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
        </div> -->
      </div>       
    </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer>
  <div class="container text-center text-md-start">
      <div class="footer-wrap">
          <div class="about">
          <img src="../../assets/../../assets/img/SEAPlag.png" alt="">
          <p class="text-muted py-4">
            {{ref1}} <span class="text-info"> JPlag </span>{{ref2}}<span class="text-info"> Chart.js </span>{{ref3}}
          </p>
          <!-- <div class="social-media">
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/instagram-icon.svg" alt=""></a>
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/facebook-icon.svg" alt=""></a>
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/twitter-icon.svg" alt=""></a>
              <a href="" class="me-2 text-reset"><img src="../../assets/img/icon/linkedin-icon.svg" alt=""></a>
          </div> -->
          </div>

          <div class="company">
          <p class="fw-bold">{{language}}</p>
          <ul>
              <li><p>HTML</p></li>
              <li><p>CSS</p></li>
              <li><p>JavaScript</p></li>
              <li><p>PHP</p></li>
              <li><p>Java</p></li>
          </ul>
          </div>
          
          <div class="useful-links">
          <p class="fw-bold">{{tool}}</p>
          <ul>
              <li><p>Visual Studio Code</p></li>
              <li><p>Google Chrome</p></li>
              <li><p>GitLab</p></li>
          </ul>
          </div>

          <div class="useful-links">
          <p class="fw-bold">{{article}}</p>
          <ul>
              <li><a target="_blank" href="https://www.researchgate.net/publication/349532079_An_intelligent_decision_support_system_for_software_plagiarism_detection_in_academia">An intelligent decision support system for <br> software plagiarism detection in academia</a></li>

          </ul>
      </div>
  </div>
  
      <div class="copyright">
          <p class="text-center">{{copyright}} &copy; SEAPlag {{current_year}}</p>
          <!--
          This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
          You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
          --> 
          <br>
      </div>
  </div>
</footer>
</div>
<br>