<div class="content-box container bg-white" style="width: 1110px; border-radius: 10px; margin-top: -150px;">
    <main>
        <div class="container" >
            <!-- Intro -->
            <br><br>
            <div class="intro text-center">
                <h1><span class="text-danger">404  Error</span><br>Page not found.</h1>
            <h4 class="front-page">The request URL to redirect was not found on this server. That's all we know.</h4>
                <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page" class="blue-btn">Go to Homepage</a>
            <img src="../../assets/img/intro.png" alt="">
            </div>
        </div>
    </main>
    <br>
</div>
<br>